<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <%= link_to "zamith.pt", root_url, class: "brand" %>
      <nav class="nav-collapse collapse">
        <ul class="nav nav-pills pull-right">
          <li class="active"><%= link_to "Home", root_url, %></li>
          <li><%= link_to "Projects", "http://github.com/zamith" %></li>
          <li><%= link_to "Blog", root_url(subdomain: "blog") %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<section id="about-me" class="hero-unit">
  <div class="row">
    <div class="span6 offset1">
      <h1>Luís Ferreira</h1>
    </div>
  </div>
  <div class="row">
    <div class="span6 offset1">
      <p>
        Born and raised in Guimarães, I went to Braga to get my college degree in Informatics and have not yet left.
      </p>
      <p>
        A geek at heart. Got in touch with Web development while finishing my graduation and since then, have never stopped loving it and am constantly trying to learn more.
      </p>
      <p>
        Meanwhile, I met a group of people who shared the same passion for building reliable and beautiful products, and with whom I work at <%= link_to "Group Buddies", "http://groupbuddies.com" %>.
      </p>
      <p>
        Apart from Web development, another great passion of mine are sports. I play basketball almost daily and go skiing whenever possible.
      </p>
    </div>
    <div class="span3 offset1">
      <figure class="responsive img-polaroid" data-media="<%= image_path("zamith2.jpg") %>" data-media440="<%= image_path("zamith.jpeg") %>" data-media767="<%= image_path("zamith2.jpg") %>" title="Picture of me.">
        <noscript>
          <%= image_tag "zamith2.jpg", id: "zamith-img", class: "img-polaroid" %>
        </noscript>
      </figure>

      <div class="social-links">
        <%= link_to "http://www.facebook.com/luis.zamith", class: "link" do %>
          <i class="icon-facebook-sign"></i>
          <span class="social-link-name">Facebook</span>
        <% end %>

        <%= link_to "http://twitter.com/zamith", class: "link" do %>
          <i class="icon-twitter"></i>
          <span class="social-link-name">Twitter</span>
        <% end %>

        <%= link_to "http://www.linkedin.com/in/zamith", class: "link" do %>
          <i class="icon-linkedin-sign"></i>
          <span class="social-link-name">Linkedin</span>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section id="start-engines">
  <div class="row">
    <div class="span5 custom-offset offset1">
      <h2>Check out my new book on Rails Engines.</h2>
      <p class="note">It is still in the process of writing but you can preorder it now.</p>
    </div>
    <div class="span3 offset2">
      <iframe width="160" height="400" src="https://leanpub.com/start-engines/embed" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
</section>