<!DOCTYPE html>
<html lang="en">
<head>
  <title>Zamith</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
